/* ==========================================================================
  Base styles: list order stles sheets
 =========================================================================

 04-Hotel search form Flider Styles


/* Imports FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ==========================================================================
 04-Hotel search form Flider Styles
 ========================================================================= */

.hotel-search-con{
	background: #afa498;
	margin-top: -40px;
	z-index: 9;
	position: relative;
	transition: all ease-in-out 0.5s;
}

.hotel-search-form{
	padding: 4px 10px 10px 10px;
	position: relative;
	width: 100%;
	margin: 0px auto;
}

/*.hotel-search-form .form-input{*/
	/*width: 30%;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*margin-right: 19px;*/
/*}*/

/*.hotel-search-form .form-input:first-child{*/
	/*padding-left: 40px;*/
/*}*/

/*.hotel-search-form .form-input:last-child{*/
	/*width: 20%;*/
/*}*/

.hotel-search-form .form-input.date_flied{
	padding-right: 15px;
}

.hotel-search-form .form-input input,.hotel-search-form .form-input select{
	width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border: none;
    outline: none;
    font-size: 13px;
}

.hotel-search-form .form-input .icon{
	position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 41px;
    border: 0px;
    outline: none;
    text-align: center;
    line-height: 40px;
    /*background: #e31836;*/
    background: #8b5e3c;
    color: #fff;
}

.hotel-search-form .form-input .icon.fa-search{
	left: 0px;
}

.hotel-search-form .btn{
	position: absolute;
    top: 0px;
    width: auto;
    right: 0px;
    height: 100%;
    border-radius: 0px;
    padding: 0px 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    overflow: hidden;
    outline: none;
    border:none;
}

.hotel-search-form .btn .icon{
	position: absolute;
	top: 50%;
	right: -17px;
	margin-top: -13px;
	opacity: 0;
	transition: all ease-in-out 0.5s;
	font-size: 26px;
}

.hotel-search-form .btn:hover .icon{
	opacity: 1;
	right: 8px;
}

.fliter-hotels .col-md-3{
	margin-top: 30px;
}

.fliter-hotel{
	border-bottom: 1px solid #e2e0e0;
    padding-bottom: 20px;
}

.fliter-hotel .title{
	float: left;
	padding-top: 2px;
	margin-bottom: 0px;
}

.fliter-hotel .button-fliter{
	float: right;
}

.fliter-hotel .button-fliter a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #ccc;
	margin-right: 5px;
	text-align: center;
}

.fliter-hotel .button-fliter a:last-child{
	margin-right: 0px;
}

.load-more-btn{
	margin-top: 60px;
}


.booking-form .modal-content{
	border-radius: 0px;
}



.booking-form .panel.panel-default{
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.booking-form form{
  padding: 30px;
}

.booking-form form label{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.booking-form .form-input{
	margin-bottom: 15px;
	position: relative;
}

.booking-form form input{
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #eaeaea;
	font-size: 13px;
	outline: none;
	transition: all ease-in-out 0.5s;
}

.booking-form form input:focus{
	padding-left: 20px;
	border:1px solid transparent;
	transition: all ease-in-out 0.5s;
	box-shadow: inset 0px -3px 0px 0px #eaeaea;
}

.form-input.date_flied button{
	position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    border: 0;
    outline: none;
    color: #fff;
}

.booking-form form .price{
	background: #40f3c1;
	width: 100%;
	display: inline-block;
	padding: 10px;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 50px;
	text-align: center;
}

#booking-bar{
	padding-top: 40px;
    padding-bottom: 40px;
}


.btn-check-availabilitu{
    color: #FFF;
    background: #8b5e3c;
    /*background: #e31836;*/
}
.container-date{
    display: block;
    position: relative;
}
.table-align{
    display: table;
    height: 67px;
}
.table-cell-middle{
    display: table-cell;
    vertical-align: middle;
}
.phone-search-bar{
    font-size: 24px;
    font-weight: bold;
    color: #8b5e3c;
}
.text-book-now{
    display: block;
    text-align: center;
    color: #FFF;
}
.text-white{
    color: #FFF;
}
.text-title{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #8b5e3c;
    font-weight: 300;

}

#ui-datepicker-div{
    z-index: 1000 !important;
}
/*DATE PICKER */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
    color:#FFF;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
    /*overflow:hidden;*/
    display:block;
    text-indent: -99999px;
    margin-top: -11px;
}

.ui-datepicker .ui-datepicker-prev span:after, .ui-datepicker .ui-datepicker-next span:after{
    cursor:pointer;
    content:"";
    font-family: FontAwesome;
    display:block;
    position:absolute;
    width:16px;
    height:16px;
    top:0;
    text-indent: 0;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-next span:after{
    content:"";
    right:0;
}

/* ==========================================================================
  21-RESOVIPES Styles
  ========================================================================== */

@media (max-width: 991px) {

	.hotels.hotel-post-first{
		text-align: center;
	}

	.hotel-search-form form div{
		width: 77%;
		margin-right: 30px;
		display: inline-block;
	}

    .text-book-or-call{
        width: 100%;
        text-align: center;
    }

    .hotel-search-form .btn {
        position: relative;
        padding: 20px;
        width: 100%;
    }

    .hotel-search-form .form-input{
		width: 100%;
		margin-bottom: 10px;
	}

	.hotel-search-form .form-input.date_flied{
		/*width: 49.5%;*/
		margin-right: 0px;
        text-align: right;
        padding-right: 15px;
	}

	.hotel-search-form .form-input:last-child{
		width: 100%;
	}

	.hotels.hotel-post-first .hotel-img{
		margin: 0 auto;
		display: inline-block;
		float: none;
	}

	.hotels .hotel-content .rating > span{
		float: none;
	}

	.hotels.hotel-post-first .hotel-content,.hotels .hotel-content{
		width: 100%;
		padding: 20px;
	}

	.hotels .hotel-img{
		width: 100%;
	}

	.cd-tabs-content .tab-img{
		height: 300px;
		width: 100%;
	}

	.cd-tabs-content .tab-img img{
		height: 100%;
	}

	.cd-tabs-content .content{
		padding: 20px;
	}

	.blog-post,.more-hotel{
		margin-bottom: 30px
	}

	.hotels .hotel-content:before{
		content: none;
	}

	.counters .col-md-3{
		margin-bottom: 2%;
	}

	.navbar-header{
		width: 100%;
	}

	.navbar-toggle{
		display: block;
		float: right;
	}

	#myNavbar{
		width: 100%;
		background: #fff;
		margin: 0;
		color: #000;
		box-sizing: border-box;
		padding: 0;
		opacity: 0 !important;
	}

	.main-nav .navbar-brand{
		padding: 15px;
	}

	#myNavbar.navbar-collapse.in{
		overflow: visible !important;
		opacity: 1 !important;
	}

	.navbar-nav{
		margin: 0px;
		padding: 30px 20px 17px;
	}

	.main-nav li.active > a:hover, .main-nav li.active > a{
		color: #fff;
	}

	.main-nav li a{
		color: #444;
	}
	
	.modal-open .modal{
		max-width: 300px;
		margin: 0 auto;
	}

	.fliter-hotels .col-md-3{
		width: 33.33%;
		float: left;
	}

	.itemlist .more-hotel .hotel-img{
		width: 280px;
	}

	.fliter-hotel{
		margin-top: 120px;
	}

	#singe-hotels{
		margin-top: 180px;
	}

	.fixed-element{
		position: static !important;
	}
}

@media (max-width: 899px) {

    .navbar-custom.top-nav-collapse {
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .hotel-search-form .form-input.date_flied {
        padding-right: 15px;
    }

	.cd-half-block.image{
		display: none;
	}

	.cd-slider-wrapper{
		height: 400px;
		margin-bottom: 30px;
	}

	.cd-slider .content,
	.cd-slider li{
		height: 100%;
	}

	.cd-slider .content > div{
		margin-top: 100px;
	}

}

@media (max-width: 780px) {
	.hotel-search-form form div{
		/*width: auto;*/
		width: 100%;
		margin-right: 0px;
	}
    .hotel-search-form .form-input.date_flied {
        padding-right: 0px;
    }

    .hotel-search-form .btn{
		position: relative;
		padding: 20px;
		width: 95%;
	}

	.hotel-search-con.affix{
		position: relative;
	}

	.header-top .col-md-6,.featuredhotel .col-md-6{
		width: 50%;
		float: left;
	}

	.cd-tabs-content .content {
      max-height:100%;
   }

   .fliter-hotel{
		margin-top: 180px;
	}

	#singe-hotels{
		margin-top: 270px;
	}
   
}

@media (max-width: 670px) {
	.sub-banner .sub-banner-content{
		width: 100%;
	}
}

@media (max-width: 550px) {
	.header-top a{
		display: inline-block;
	}

	.featuredhotel .col-md-6{
		width: auto;
	}

	.fliter-hotels .col-md-3{
		width: 50%;
		float: left;
	}
}

@media (max-width: 500px) {
	.fliter-hotels .col-md-3{
		width: 100%;
	}
}


